<style>
  .carousel-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }

  .carousel-inner {
    height: 500px;
    background-color: #bba88d;
    position: relative;
    border: 2px solid #bba88d;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .carousel-inner .item {
    height: 100%;
    position: relative;
    text-align: right; /* Aligner le contenu à droite */
  }

  .carousel-inner .item img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .infos-products {
    position: absolute;
    top: 50%;
    left: 20%; /* Positionner à gauche */
    transform: translateY(-50%);
    padding: 20px;
    }

  .infos-products h3 {
    margin-top: 0;
    color: #ffffff;
    font-size: 48px;
  }
  .infos-products p {
    color: #2b1e12;
    font-size: 18px;
  }

  .carousel-control {
    width: 5%;
    height: 100%;
    position: absolute;
    background: none;
    top: 0;
  }

  .left.carousel-control {
    left: 30px;
  }

  .right.carousel-control {
    right: 30px;
  }

  .carousel-control span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #a4a3a3;
  }

  .carousel-control span:hover {
    color: #333;
  }

  .carousel-control .sr-only {
    display: none;
  }

  h2 {
    color: #6e6c34;
  }

  a {
    text-decoration: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bba88d;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  .pro__thumb {
  width: 270px; /* Largeur fixe pour le conteneur */
  height: 180px; /* Hauteur fixe pour le conteneur */
  overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse du conteneur */
  position: relative; /* Position relative pour gérer le contenu absolu */
  background-color: #fff; /* Couleur de fond blanche */
}

.product_img {
  width: 100%; /* Remplir entièrement le conteneur */
  height: 100%; /* Remplir entièrement le conteneur */
  object-fit: contain; /* Redimensionner l'image pour couvrir entièrement le conteneur */
  position: absolute; /* Position absolue pour que l'image remplisse correctement */
  top: 0; /* Aligner en haut du conteneur */
  left: 0; /* Aligner à gauche du conteneur */
}

</style>

<div class="container">
  <h2>Product of the day</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <img src="../../assets/images/slider/bg/1.jpg" style="height: 500px;" alt="Slide 1">
              <div class="overlay"></div>
              <div class="infos-products">
                <h3>Phial de Galadriel</h3>
                <p>$250.0</p>
              </div>
          </div>
          <div class="item">
              <img src="../../assets/images/slider/bg/2.jpg" style="height: 500px;" alt="Slide 2">
              <div class="overlay"></div>
              <div class="infos-products">
                <h3>Cape d'invisibilité</h3>
                <p>$300.0</p>
              </div>
          </div>
          <div class="item">
              <img src="../../assets/images/slider/bg/3.jpg" style="height: 500px;" alt="Slide 3">
              <div class="overlay"></div>
              <div class="infos-products">
                <h3>Cotte de Mithril</h3>
                <p>$500.0</p>
              </div>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="zmdi zmdi-chevron-left"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="zmdi zmdi-chevron-right"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</div>
<!-- Section Product -->
<section class="htc__product__area ptb--100 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="product-categories-all">
          <div class="product-categories-title">
            <h3>Get equipped!</h3>
          </div>
          <div class="product-categories-menu">
            <ul>
              <li><a href="#">Armor</a></li>
              <li><a href="#">Ration</a></li>
              <li><a href="#">Magic potions</a></li>
              <li><a href="#">Weapon</a></li>
              <li><a href="#">Magical artifacts</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="product-style-tab">
          <div class="product-tab-list">
            <!-- Nav tabs -->
            <ul class="tab-style product-tab-list-btn" role="tablist">
              <li class="active">
                <a href="#home9" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>latest</h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home10" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>best sale</h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home11" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>top rated</h4>
                  </div>
                </a>
              </li>
              <li>
                <a href="#home12" data-toggle="tab">
                  <div class="tab-menu-text">
                    <h4>on sale</h4>
                  </div>
                </a>
              </li>
            </ul>
            <div class="all-product-btn">
              <a href="shop-sidebar.html">all</a>
            </div>
          </div>
          <div class="tab-content another-product-style custom-style">
            <div class="row" style="width: 100%; margin: 0;">

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/1.jpg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Phial de Galadriel</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$450.0</li>
                      <li class="new__price" style="color: #2b1e12;">$250.0</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/Anneau Unique.jpg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Anneau Unique</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$1600.0</li>
                      <li class="new__price" style="color: #2b1e12;">$1000.0</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/Epée d Aragorn.jpeg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Epée d Aragorn</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$160.0</li>
                      <li class="new__price" style="color: #2b1e12;">$150.0</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/Arc de Legolas.jpg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Arc de Legolas</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$200.0</li>
                      <li class="new__price" style="color: #2b1e12;">$180.0</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/Grimoire de Gandalf.jpg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Grimoire de Gandalf</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$270.0</li>
                      <li class="new__price" style="color: #2b1e12;">$200.0</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="product" style="width: 270px;">
                  <div class="product__inner">
                    <div class="pro__thumb">
                      <a href="#">
                        <img src="../../assets/images/slider/bg/Cornemuse de Boromir.jpg" alt="product images" class="product_img">
                      </a>
                    </div>
                    <div class="product__hover__info">
                      <ul class="product__action">
                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                        <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__details">
                    <h2><a href="product-details.html">Cornemuse de Boromir</a></h2>
                    <ul class="product__price">
                      <li class="old__price">$120.0</li>
                      <li class="new__price" style="color: #2b1e12;">$80.0</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- End Section Product -->
